#Landing-container {
  width: 100%;
  min-height: 100vh;

  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-size: cover;
}

header {
  text-align: center;
  margin-bottom: 46px;
}

header h1 {
  margin: 0;
}

header h5 {
  margin-top: 3px;
  margin-bottom: 0;
}

.time-display {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 1px solid #2aabe2;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-display:not(:last-of-type) {
  margin-right: 36px;
}

.time-display h1,
.time-display p {
  margin-top: 0;
}

.time-display h1 {
  margin-bottom: 26px;
}

#time-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#time-container p {
  font-size: 30px;
  margin-bottom: 0;
}

#card {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 760px) {
  #Landing-container {
    padding: 20px;
  }

  #card {
    width: 100%;
  }

  #time-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .time-display:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 36px;
  }
}
